*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: none;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: (--scroll-padding, 100px);
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background: antiquewhite;
}
::-webkit-scrollbar-thumb {
  background: #ffe170;
}
