*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: (--scroll-padding, 100px);
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background: antiquewhite;
}
::-webkit-scrollbar-thumb {
  background: #ffe170;
}

header{
  background-color: #d2edfc;
  height: 10%;
}
  .containerImg > img {
      width: 80%;
      margin: 5rem 5rem 5rem 5rem ;
      max-height: 100%;
      padding: auto;
  }

/* home page */

.container {
  width: 100vw;
  margin: 0 auto;
}
.main {
  height: 100vh;
}

.hero {
  display: flex;
  background-color: #d2edfc;
}
.hero h1 {
  font-family: caveat brush;
  text-align: center;
  margin-top: 0%;
  font-size: 3em;
}

.hero p {
  padding: 0 0.5em;
  margin-top: 0;
  text-align: center;
}

  .hero__text{
    width: 50%;
    margin: 8rem 0 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 10rem;
  height: 10rem;
  margin-left: 2.5rem;
  margin-right: 3.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    box-sizing: ;
    align-items: center;
    max-width: 100%;
}

.nav__list {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;

  font-size: 2rem;
}

.nav__item {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  /* padding-right: 9rem; */
}
.nav__link {
  text-decoration: none;
  font-size: initial;
  color: #FF9F9F;
}

.nav__link--button {
  padding: 0.25em 1em;
}

.nav__link:hover {
  opacity: 0.75;
}


/* activities page */

.activities-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  padding-top: 5rem;
  background: #d2edfc;
}

.headings-container {
  display: flex;
  padding: 3rem;
  background: linear-gradient(10deg, #b279ea, #ff9f9f);
  flex-direction: column;
  align-items: center;
  border: solid 0px white;
  box-shadow: black 6px;
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
}

.headings {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #b279ea;
  padding-top: 5rem;
}

span {
  content: "\2192";
  font-size: xxx-large;
}

.number {
  height: 110px;
  width: 110px;
  background: linear-gradient(10deg, #b279ea, #ff9f9f);
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  width: 20rem;
  height: 20rem;
  margin: 3rem;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  backface-visibility: hidden;
}

.front {
  background-color: #ff9f9f;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.back {
  background-color: #ff9f9f;
  transform: rotateY(180deg);
  font-size: larger;
  border-radius: 2rem;
  line-height: 2.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ul {
  padding: 3rem;
  font-size: large;
  text-align: left;
}

.hydrated {
  font-size: larger;
  padding: 1rem;
}

.prompts-back {
  line-height: 1.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-solid {
  padding-top: 1rem;
  font-family: "Font Awesome 6 Free";
}
