*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  overflow:hidden;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: (--scroll-padding, 100px);
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background: antiquewhite;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(10deg, #69488a, #f18d8d);
}

header{
  background-color: #d2edfc;
  height: 3%;
}
.container {
  width: 100vw;
  height: 18vh;
  margin: 0 auto;
}
.main {
  height: 100vh;
}

.hero {
  display: flex;
  background-color: #d2edfc;
}
.hero h1 {
  font-family: caveat brush;
  text-align: center;
  margin-top: 0%;
  font-size: 3em;
}

.hero p {
  padding: 0 0.5em;
  margin-top: 0;
  text-align: center;
}

  .hero__text{
    width: 50%;
    margin: 8rem 0 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 15%;
  height: 100%;
  margin-left: 2.5rem;
  margin-right: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.nav__list {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.nav__item {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  padding-right: 3rem;
  /* padding-right: 9rem; */
}
.nav__link {
  text-decoration: none;
  font-size: initial;
  font-weight: 200;
  color: #e68080;
}

.nav__link--button {
  padding: 0.25em 1em;
}

.nav__link:hover {
  opacity: 0.75;
}

.swiper {
    width:60vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgb(244, 244, 141);
    border-radius: 2rem;
  }
.container__video{
  border: 0.3rem solid black;
  height: 100vh;
}
.wrapper{
  border: 0.3rem solid red;
  height: 100vh;
}
.screen{
  border: 0.3rem solid green;
}
.sidebar{
  border: 0.4rem solid yellow;
}
.controls{
  border: 0.3rem solid purple;
}