
.tracker-h2{
    display: flex;
    justify-content: flex-end;
    font-family: caveat brush;
    color: #fff;
    font-size: 2em;
    margin:inherit;
  }
  
  .tracker-content{
    background: #9774c3;
    border-top: solid 5px #ffe070;
    /* padding: 1rem; */
    padding:  1em 3em 1em 3em;
  }
  
  .content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .content-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .content-section > p{
    text-align: end;
    width: 50%;
    line-height: 2.5rem;
    color: #fff;
    padding: inherit;
    font-family: 'Caveat Brush';
    font-size: larger;
  }
  
  .containerImg > img {
    width: 80%;
    margin: 6rem 5rem 5rem 5rem ;
    max-height: 100%;
    padding: auto;
    box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
  }
  
  .container {
    /* width: 90vw; */
    margin: 0 auto;
  }
  
  .hero-top{
    display: flex;
  }
  
  .hero__text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    margin: 8rem 0 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
  }
  
  .hero h1 {
    font-family: caveat brush;
    margin-top: 0%;
    font-size: 3em;
  }
  
  .content-section p {
    text-align: end;
    width: 50%;
    line-height: 2rem;
    color: #fff;
    padding: inherit;
  }
  
  .hero-bottom img {
    width: 13em;
    height: 11em;
  }
  